@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
*{
    margin: 0;
    padding: 0;
}
#container{
	width: 100%;
	height: 1650px;
	background-image: url(../img/BackGroundGamePlay.png);
	background-size: cover;
	background-position: center center;
/*	background-color: pink;*/
}
#boxbu{
    width: 100%;
    height: 792px;
/*    background-color: black;*/
/*	background-image: url(../img/BackGroundGamePlay.png);*/
	
}
.space01{
    width: 100%;
    height: 50px;
    margin: 0 auto;
	
}
.space02{
    width: 100%;
    height: 20px;
    margin: 0 auto;
	
}

/*
#khungbu{
	width: %;
	height:817px;
	background-color: rgb(62, 87, 145);
	margin:0 auto;
}
*/
/*
#khunglogoo{
    width: 22%;
    height: 260px;

	background-image: url(../img/LGL.png);
	background-size: cover;
	background-position: center center;
    margin: 0 auto;
}
*/
#khungsignin{
	width: 100%;
	height: 640px;
/*	border-radius: 100px;*/
/*	background-color: black;*/
}
#boxsignin{
	width: 27%;
	height: 668px;
/*	background-color: rgba(20,48,114,1.00);*/
	border-radius: 4px;
	box-shadow: 0px 0px 20px 2px white;
	margin: 0 auto;
	padding: 0px 25px 25px;
}
#logosignin{
	width: 100%;
	height: 190px;
/*	background-color: pink;*/
	
	margin: 0 auto;
	display: flex;
}
#mainlogo{
	width: 46%;
	height: 136px;
/*	background-color: yellow;*/
	background-image: url(../img/LGL.png);
	background-size: cover;
	background-position: center center;
	margin: auto;
}
#formbu{
/*	width: %;*/
	height: 169px;
/*	background-color: red;*/
	margin: 0 auto;
}
input[type=text] {
	width: 100%;
	padding: 2.5%;
	border: 2px solid #7A8694;
/*	background-color: #041932;*/
	background-color: white;
	border-radius: 2px;
	box-sizing: border-box;
	margin-bottom: 0.5%;
	resize: vertical;
	-webkit-transition: 0.1s;
  transition: 0.1s;
	color: black;
	font-family: 'Crimson Text', serif;
}
input[type=text]:focus {
    border: 2px solid #45A8DE;
}
.name input[type=name] {
	width: 100%;
	padding: 2.5%;
	border: 2px solid #7A8694;
/*	background-color: #041932;*/
	background-color: white;
	border-radius: 2px;
	box-sizing: border-box;
	margin-bottom: 1.5%;
	resize: vertical;
	-webkit-transition: 0.1s;
  transition: 0.1s;
	color: black;
	font-family: 'Crimson Text', serif;
}
.name input[type=name]:focus {
    border: 2px solid #45A8DE;
}
input[type=password] {
	width: 100%;
	padding: 2.5%;
	border: 2px solid #7A8694;
/*	background-color: #041932;*/
	background-color: white;
	border-radius: 2px;
	box-sizing: border-box;
	margin-top: 1.2%;
	resize: vertical;
	  -webkit-transition: 0.1s;
  transition: 0.1s;
	color: black;
	font-family: 'Crimson Text', serif;
}
input[type=password]:focus {
    border: 2px solid #45A8DE;
}
.rp input[type=password] {
	width: 100%;
	padding: 2.5%;
	border: 2px solid #7A8694;
/*	background-color: #041932;*/
	background-color: white;
	border-radius: 2px;
	box-sizing: border-box;
	margin-top: 1.6%;
	resize: vertical;
	  -webkit-transition: 0.1s;
  transition: 0.1s;
	color: black;
	font-family: 'Crimson Text', serif;
}
.rp input[type=password]:focus {
    border: 2px solid #45A8DE;
}
.space08{
	width: 100%;
	height: 15px;
/*	background-color: yellow;*/
}

#agree{
	width: 100%;
	margin: 0 auto;
	
}
#agree form{
	text-align: left;
	color: white;
	font-family: 'Crimson Text', serif;
		
	
}
#agree u{
	font-family: 'Crimson Text', serif;
	cursor: pointer;
}
#agree u:hover{
	color: #454B54;
}
/*
.pass img{
	width: 8%;
	margin-left: 85%;
	margin-bottom: 10px;
	float: right:
}
*/

.btn-box2{
		width: 100%;
/*		height: 1000px;*/
	    text-align: center;
		float: left;
    	
}

.btn-box2 button{
/*	background-color: rgb(62, 87, 145);*/
/*	background-color: #727477;*/
	background-color: #393E45;
	width: 100%;
	height: 35px;
	float: left;
	padding: 2.5%;
	border: 1px solid white;
	border-radius: 2px;
	box-sizing: border-box;
	resize: vertical;
	-webkit-transition: 0.1s;
  transition: 0.1s;
	color: #FFFFFF;
	margin-top: 6%;
	
	
	
}
.btn-box2 input[type=submit]:focus {
    border: 2px solid white;
}
.btn-box2 p{
	font-size: 18px;
	font-family: 'Crimson Text', serif;
	margin-top: -2.2%;
	color: white;
	
}
.btn-box2 button:hover{
	background-color: #454B54;
	cursor: pointer;
}
#boxor{
	width: 100%;
	height: 20.8px;
/*	background-color: red;*/
	float: left;
	margin: 30px 0px 30px;
/*	display:flex;*/

	
}
hr{
	
	margin-top: 2.6%;
	float: left;
	
}
.hr hr{
	width: 30%;
	height: -50px;
	float: right;
	
}
#or{
	width: 31%;
	height: 20.8px;
/*	background-color: yellow;*/
	margin: 0 auto;
	display:block;

	
}
#or p{
	font-size: 13px;
	text-align:center; 
	margin-top: 3%;
	color: white;
	font-family: 'Crimson Text', serif;
}
#sociall{
	width: 100%;
	height: 56px;
/*	background-color: orange;*/
	float: left;
	
}
.boxsc{
	width: 40%;
	height: 50px;
/*	background-color: white;*/
	margin: 0 auto;
}
.mainsc{
	width: 26%;
	height: 43px;
	background-color: #4272B8;
	float: left;
	margin: 0px 11% 0px 0px;
	border-radius: 2px;
}
.mainsc img{
	width: 45%;
	height: 45%;
	margin: 28% 0 0 28%;
}
.mainsc:hover{
	background-color: #235AAA;
	cursor: pointer;
}
.mainsc2{
	width: 26%;
	height: 43px;
	background-color: white;
	float: left;
	margin: 0px 11% 0px 0px;
	border-radius: 2px;
}
.mainsc2 img{
	
	width: 45%;
	height: 45%;
	margin: 28% 0 0 27.5%;
}
.mainsc2:hover{
	background-color: #C8C8C8;
	cursor: pointer;
}

.mainsc1{
	width: 26%;
	height: 43px;
	background-color: white;
	float: left;
	border-radius: 2px;
	
}
.mainsc1 img{
	
	width: 40%;
	height: 43%;
	margin: 29.1% 0 0 30%;
}
.mainsc1:hover{
	background-color: #C8C8C8;
	cursor: pointer;
}
#create{
	width: 100%;
	height: 40px;
/*	background-color: orange;*/
	margin : 0 auto;
	margin-top: 4%;
	float: left;
}
#textcr{
	width: 81%;
	height: 40px;
	margin: auto;
}
#textcr p{
	font-size: 16px;
	text-align: center;
	line-height:25px;
	margin: 3px 0px 0px;
	color: white;
	font-family: 'Crimson Text', serif;
}
#textcr u:hover{
	cursor: pointer;
	color: #454B54;
}
#create2{
	width: 100%;
	height: 40px;
/*	background-color: orange;*/
	margin : 0 auto;
	margin-top: 1%;
	float: left;
}
#textcrr{
	width: 60.6%;
	height: 40px;
	margin: auto;
}
#textcrr p{
	font-size: 16px;
	text-align: center;
	margin: 3px 0px 0px;
	color: white;
	font-family: 'Crimson Text', serif;
}
